<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0">
      <div class="container">
        <h1 class="text-center">Register</h1>
        <form [formGroup]="registerForm">
          <div class="form-group">
            <label for="username">Username : </label>
            <input type="text" name="username" class="form-control" [formControl]="username1">

            <div [hidden]="username1.valid || username1.untouched">
              <p class="text-danger">Some Problem with Username.</p>
              <div [hidden]="!username1.hasError('required')">
                <p class="text-danger"> *Username is required field!</p>
              </div>
              <div [hidden]="!username1.hasError('minlength')">
                <p class="text-danger"> *Username require 6 characters!</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password : </label>
            <input type="text" 
              name="password" 
              class="form-control" 
              [formControl]="password1">
              <div [hidden]="password1.untouched || password1.valid">
                <p class="text-danger">Some Problem with Password.</p>
                <div [hidden]="!password1.hasError('required')" >
                  <p class="text-danger"> *Password is required field.</p>
                </div>
                <div [hidden]="!password1.hasError('needExclamation')">
                    <p class="text-danger"> *Password must have !.</p>
                </div>

              </div>
          </div>
          <button (click)="register()" 
            [disabled]="!registerForm.valid"
            class="btn btn-success btn-block">Register</button>
        </form>
      </div>
    </div>
  </div>

</div>